<div id="sidebar-menu">
    <ul>

    	<li class="text-muted menu-title">Navegação</li>

        <li class="has_sub">
            <a href="/" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span></a>
           
        </li>
        <li class="has_sub">
            <a href="javascript:void(0)" class="waves-effect"><i class="ti-credit-card"></i><span> Extras </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
                <li><%= link_to cards_path do %>Listar Cartões<% end %></li>
                <!-- <li><a href="">Checar Bin</a></li>
                <li><a href="">Testar CC</a></li> -->
            </ul>
        </li>


    </ul>
    <div class="clearfix"></div>
</div>